.App {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  max-width: 60vw;
  margin: 0 auto;
}

.App * {
  box-sizing: border-box;
}

.planet-list {
  margin: 1em;
  padding: 1em;
  border: .5px solid black;
  border-radius: 3px;
  width: 30vh;
  height: 70vh + 1em;
}

.planet-detail {
  margin: 1em;
  padding: 1em;
  border: .5px solid black;
  border-radius: 3px;
  width: 35vh;
  height: 35vh
}

.planet-list--img {
  max-width: 30%;
}

.species-detail {
  margin: 1em;
  padding: 1em;
  border: .5px solid black;
  border-radius: 3px;
  width: 35vh;
  height: 35vh
}